.bg-pic {
  background: rgb(43, 136, 204);
  background: linear-gradient(
    90deg,
    rgba(43, 136, 204, 1) 10%,
    rgba(168, 103, 190, 1) 100%
  );
}

p {
  font-family: "Raleway", sans-serif;
}

.buttongroup {
  font-size: 18px;
  font-family: "Baloo 2", cursive;
  color: white;
  transition-duration: 0.4s;
}

.buttongroup:hover {
  background-color: #9f7aea;
  font-size: 18px;
  font-family: "Baloo 2", cursive;
}

.write:hover {
  transition-duration: 0.4s;
  color: white;
  background-color: #a0aec0;
}

.calendar {
  font-family: "Baloo 2", cursive;
}

.adminbuttons:hover {
  transition-duration: 0.4s;
  color: white;
  background-color: #a0aec0;
}

.declinebutton:hover {
  transition-duration: 0.4s;
  color: white;
  background-color: red;
}

.acceptbutton:hover {
  transition-duration: 0.4s;
  color: white;
  background-color: green;
}
